@charset "utf-8";
/* 서브페이지용CSS - sub.css */

/* 공통외부CSS 합치기 */
@import url(./common.css);

.stit {
    color: #429b42;
    font-size: 20px;
    font-family: "Hahmlet", serif;
    font-weight: bold;
    text-align: center;
    background-color: #00c30033;
   border-radius: 12px;
}

.afig {
    text-align: center;
}
