@charset "utf-8";
/* 서브페이지용CSS - sub.css */

/* 공통외부CSS 합치기 */
@import url(./common.css);

/* 서브페이지 공통 글자설정 */
#cont {
    font-family: "Gowun Dodum", sans-serif;
}

/* 서브타이틀 */
.stit {
    color: #429b42;
    font-size: 20px;
    font-family: "Hahmlet", serif;
    font-weight: bold;
    text-align: center;
    background-color: #00c30033;
    border-radius: 12px;
    margin-bottom: 10px;

    /* outline : 1px solid red */

    /* [outline 요소]
    
        box 모델의 필수 속성은 아니지만 박스의 외곽선을 표현해주며 박스자체에 크기에 영향을 주지 않음
        outline : 두께 종류 색상
        -> border와 셋팅이 같음
        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선 표시가 됨
        
        
        /* 배경넣기 : 한번에 쓰기 */
    /*  background: url(../images/article4.jpg) no-repeat center/cover; */
    /* background : 색이반고윙/크; (색상 이미지 반복여부 고정 위치/크기)  */

    /* 배경넣기 : 속성별쓰기 */

    /* 반복여부 */
    /* background-repeat: no-repeat; */
    /* 배경위치: 가로 세로 */
    /*  background-position: center; */
    /* 배경크기 : 가로 세로 (cover - 박스채우기) */
    /*   background-size: cover; */

    /* 박스그림자 */
    box-shadow: 4px 4px 4px #00000033;
    /*
    [box-shadow 속성]
    - 박스 외부/내부 그림자 설정속성
    - 값: x축 y축 blur spread 색
    text-shadow와 달리 spread속성이 있음
    이것은 그림자를 커지게 함
    - 내부그림자 옵션 : inset
    - 그림자 다중설정 : 콤마로 연속사용 가능
    */
}
/* 언론사 로고 */
.prlogo img {
    height: 32px;
}
/* 이미지는 기본 비율을 가지고 있어서
    가로, 세로중 한쪽만 크기를 주면 나머지 방향은 자짐으로 비율을 유지함
    가로세로를 다 주면 비율이 깨짐 */

/* 기사 타이틀 */
.atit {
    font-size: 30px;
}
/*  기사 이미지 박스*/
.afig {
    margin-bottom: 20px;
}
.afig img {
    width: 100%;
}
/* 기사 이미지 설명 */
.afig figcaption {
    font-size: 17px;
    text-align: center;
    color: #5f5f5f;
}

/* 기사 문단 */
.acont p {
    font-size: 17px;
    color: #303038;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 단어간격 : ws */
    word-spacing: 1px;
    /* 양쪽정렬  */
    text-align: justify;
    /* 줄간격 lh */
    line-height: 1.56;
    /* 글자 라인간 간격을 조정함
        숫자만 쓰면 글자크기의 배수로 적용됨(단위쓰면 단위로 적용)
        -> 줄간격의 응용은 버튼 등의 글자를 세로 중앙에 오게 할 때 박스 높이값만큼 준다. */
}

/* 유튜브 동영상 박스 */
.mvbx {
    height: 550px;
}
/* div와 같은 block 요소는 width 설정을 하지 않으면 width:auto 로 자동설정됨 이는 싸고 있는 박스 컨텐트 영역을 자동으로 채워준다. */
.mvbx iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* 기사 원문 */

.alink {
    text-align: right;
}

.alink a {
    /* 디자인 적용을 하기 위해 display를 inline-block으로 변경 */
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    background-color: #b4d0ff;
    /* 줄간격으로 세로 글자 중앙 = 높이값과 같음 */
    line-height: 70px;
    /* 가로 정렬 중앙 */
    text-align: center;
    font-size: 15px;

    /* a요소 기본 글자색변경, 밑줄없애기 */
    color: #000;
    text-decoration: none;
}

/* 마우스 오버시 변경 */
.alink a:hover {
    color: #ffeb3b;
    background-color: #9298fe;
    box-shadow: 0 0 10px 5px #3f51b5;
}

/* IT/과학 배경이미지 */
.st4 {
    /* 배경이미지 */
    /*  background-image: url(../images/article4.jpg); */
}
/* 연예/TV 배경이미지 */
.st5 {
    /*  background-image: url(../images/artcle5.jpg); */
    /* 배경위치변경 */
    /* background-position: top; */
}
