@charset "uft-8";
/* 웹폰트 CDN(Content Delevery Network) */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+And+White+Picture&family=Gugi&family=Noto+Sans+KR&display=swap");

/* 

                웹폰트 font-family 이름
                font-family: 'Black Han Sans', sans-serif;
                font-family: 'Song Myung', serif;
                font-family: 'Hahmlet', serif;
                font-family: 'Gowun Dodum', sans-serif;
*/
/* 초기화 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
/* 전체배경이미지 */
body{
    background: url(../imgs/worksbg.jpg) no-repeat fixed center/cover;
    /* 전체 글자체 */
    font-family: 'Hahmlet', serif;
    /* 전체 글자기본크기 */
    font-size: 17px;
}


/* 전체박스 */
.wrap{
    background-color: rgba(255, 255, 255, 0.357);
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* 메인타이틀 */
.tit{
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: inherit;
    font-size: 25px;
    color: darkblue;
}

.part2{
    font-family: 'Gowun Dodum', sans-serif;
    
}
.part2 h2{
    text-shadow: 2px 2px 2px #ffffff80;
    display: inline-block;
    background-color: #68380874;
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted #2d1002fb;
    font-size: 20px;
}

.part2 h3{
    display: inline-block;
    padding: 20px;
}